{% extends 'base_template/base.html.twig' %}

{% block body %}
<h1>Contact us!</h1>
    <p>You can contact us at <a href="mailto:kuleuven@infodays.be">kuleuven@infodays.be</a>.
    Any remarks, feedback about this website is welcome.</p>
{% endblock %}
